.text-primary {
  text-align: center;
  margin: auto;
  padding: 5px;
}

ul {
  list-style-type: none;
}

   /* body {
  background-image: url(./Downloads/neonbrand-394688-unsplash.jpg);
  opacity: 0.4;
}  */
